<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
	<meta name="twitter:widgets:theme" content="light">
	<meta property="og:title" content="Your-Title-Here" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="Your-Image-Url" />
	<meta property="og:description" content="Your-Page-Description" />
	<title>Tiger Barbers</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/tigerbarbers_logo_icon.ico">

	<!-- Font -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CLora:400,700,400italic'
		rel='stylesheet' type='text/css'>

	<!-- Css -->
	<link rel="stylesheet" href="css/core.min.css" />
	<link rel="stylesheet" href="css/skin-barber-shop-one-page.css" />

	<!--[if lt IE 9]>
    	<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body class="shop home-page">

	<div id="app">
		<!-- Overlay Navigation Menu -->
		<div class="overlay-navigation-wrapper one-page-nav" data-no-scrollbar data-animation="scale-in">
			<div class="overlay-navigation-scroll-pane" style="width: 100%;">
				<div class="overlay-navigation-inner">
					<div class="v-align-middle">
						<div class="overlay-navigation-header row collapse full-width">
							<div class="column width-12">
								<div class="navigation-hide overlay-nav-hide">
									<a href="#">
										<span class="icon-cancel"></span>
									</a>
								</div>
							</div>
						</div>
						<div class="overlay-navigation-body row full-width">
							<div class="column width-12">
								<nav class="overlay-navigation nav-block center">
									<ul>
										<li class="current">
											<a href="#home" data-offset="-60" class="scroll-link">Home</a>
										</li>
										<li>
											<a href="#about" data-offset="-60" class="scroll-link">About</a>
										</li>
										<li>
											<a href="#shop" data-offset="-60" class="scroll-link">Gallery</a>
										</li>
										<li>
											<a href="#contact" data-offset="-60" class="scroll-link">Contact</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
						<div class="overlay-navigation-footer row full-width center">
							<div class="column width-12 no-padding">
								<p class="copyright">&copy; {{ year }} Tiger Barbers. All Rights Reserved.
								</br>
								Website by <a target="_blank" href="http://www.kyongsubkong.info/"
									style="color: grey;">Kyong</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Overlay Navigation Menu End -->

		<div class="wrapper reveal-side-navigation">
			<div class="wrapper-inner">

				<!-- Header -->
				<header class="header header-fixed header-transparent header-fixed-on-mobile"
					data-sticky-threshold="100" data-bkg-threshold="window-height">
					<div class="header-inner">
						<div class="row nav-bar">
							<div class="column width-12 nav-bar-inner">
								<div class="logo">
									<div class="logo-inner">
										<a href="index.html"><img src="images/TIGER_logo_text.png"
												alt="Tiger Logo" /></a>
										<a href="index.html"><img src="images/TIGER_logo_text_white.png"
												alt="Tiger Logo" /></a>
									</div>
								</div>
								<nav class="navigation nav-block secondary-navigation nav-right">
									<ul>
										<!-- Dropdown Cart Overview
									<li>
										<div class="dropdown">
											<a href="#" class="nav-icon cart button no-page-fade"><span class="cart-indication"><span class="icon-shopping-cart"></span> <span class="badge">3</span></span></a>
											<ul class="dropdown-list custom-content cart-overview">
												<li class="cart-item">
													<a href="single-product.html" class="product-thumbnail">
														<img src="images/design-agency/portfolio/grid/no-margins/project-6-square.jpg" alt="" />
													</a>
													<div class="product-details">
														<a href="single-product.html" class="product-title">
															Cotton Jump Suit
														</a>
														<span class="product-quantity">2 x</span>
														<span class="product-price"><span class="currency">$</span>15.00</span>
														<a href="#" class="product-remove icon-cancel"></a>
													</div>
												</li>
												<li class="cart-item">
													<a href="single-product.html" class="product-thumbnail">
														<img src="images/design-agency/portfolio/grid/no-margins/project-7-square.jpg" alt="" />
													</a>
													<div class="product-details">
														<a href="single-product.html" class="product-title">
															Cotton Jump Suit
														</a>
														<span class="product-quantity">2 x</span>
														<span class="product-price"><span class="currency">$</span>15.00</span>
														<a href="#" class="product-remove icon-cancel"></a>
													</div>
												</li>
												<li class="cart-item">
													<a href="single-product.html" class="product-thumbnail">
														<img src="images/design-agency/portfolio/grid/no-margins/project-8-square.jpg" alt="" />
													</a>
													<div class="product-details">
														<a href="single-product.html" class="product-title">
															Cotton Jump Suit
														</a>
														<span class="product-quantity">2 x</span>
														<span class="product-price"><span class="currency">$</span>15.00</span>
														<a href="#" class="product-remove icon-cancel"></a>
													</div>
												</li>
												<li class="cart-subtotal">
													Sub Total
													<span class="amount"><span class="currency">$</span>15.00</span>
												</li>
												<li class="cart-actions">
													<a href="cart.html" class="view-cart">View Cart</a>
													<a href="checkout.html" class="checkout button small"><span class="icon-check"></span> Checkout</a>
												</li>
											</ul>
										</div>
									</li> -->
										<!-- Dropdown Search Module
									<li>
										<div class="dropdown">
											<a href="#" class="nav-icon search button no-page-fade"><span class="icon-magnifying-glass"></span></a>
											<div class="dropdown-list custom-content cart-overview">
												<div class="search-form-container site-search">
													<form action="#" method="get" novalidate>
														<div class="row">
															<div class="column width-12">
																<div class="field-wrapper">
																	<input type="text" name="search" class="form-search form-element no-margin-bottom" placeholder="type &amp; hit enter...">
																	<span class="border"></span>
																</div>
															</div>
														</div>
													</form>
													<div class="form-response"></div>
												</div>
											</div>
										</div>
									</li> -->
										<!-- Dropdown Login
									<li>
										<div class="v-align-middle">
											<div class="dropdown">
												<a href="#" class="button no-page-fade no-label-on-mobile small no-margin-bottom"><span class="icon-lock left"></span><span>My Account</span></a>
												<div class="dropdown-list custom-content">
													<h5>Access Your Account</h5>
													<div class="login-form-container">
														<form class="login-form" action="#" method="post" novalidate>
															<div class="row">
																<div class="column width-12">
																	<div class="field-wrapper">
																		<input type="text" name="email" class="form-name form-element small" placeholder="E-mail" tabindex="1" required>
																	</div>
																</div>
																<div class="column width-12">
																	<div class="field-wrapper">
																		<input type="password" name="password" class="form-email form-element small" placeholder="Password" tabindex="2" required>
																	</div>
																</div>
																<div class="column width-6">
																	<input type="submit" value="Sign In" class="form-submit button small bkg-charcoal bkg-hover-pink color-white color-hover-white">
																</div>
																<div class="column width-6 right">
																	<a class="recuperate-password pt-10" href="">Password?</a>
																</div>
															</div>
															<input type="text" name="honeypot" class="form-honeypot form-element">
														</form>
														<div class="form-response"></div>
													</div>
												</div>
											</div>
										</div>
									</li> -->
										<li class="aux-navigation hide">
											<!-- Aux Navigation -->
											<a href="#" class="navigation-show overlay-nav-show nav-icon">
												<span class="icon-menu"></span>
											</a>
										</li>
									</ul>
								</nav>
								<nav class="navigation nav-block primary-navigation nav-right">
									<ul>
										<li class="current">
											<a href="#home" data-offset="0" class="scroll-link">Home</a>
										</li>
										<li>
											<a href="#about" data-offset="-86" class="scroll-link">About</a>
										</li>
										<li>
											<a href="#shop" data-offset="-60" class="scroll-link">Gallery</a>
										</li>
										<li>
											<a href="#contact" data-offset="-80" class="scroll-link">Contact</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</header>
				<!-- Header End -->

				<!-- Content -->
				<div class="content clearfix">

					<!-- Fullscreen Slider Section -->
					<section id="home" class="section-block featured-media window-height tm-slider-parallax-container">
						<div class="tm-slider-container full-width-slider" data-featured-slider data-parallax
							data-animation="scaleIn" data-auto-advance-interval="0" data-progress-bar="false"
							data-pause-on-hover="false" data-speed="1400" data-scale-under="960">
							<ul class="tms-slides">
								<li class="tms-slide" data-video data-video-bkg data-overlay-bkg-color="#000000"
									data-overlay-bkg-opacity="0.4">
									<div class="tms-content">
										<div class="tms-content-inner left left-on-mobile v-align-middle">
											<div class="row">
												<div class="column width-12">
													<p class="tms-caption color-white title-medium weight-light mb-10"
														data-no-scale
														data-animate-in="preset:slideInUpShort;duration:800ms;delay:100ms;">
														203 Lonsdale St. Melbourne.
													</p>
													<div class="clear"></div>
													<h1 class="tms-caption color-white title-xlarge weight-bold mb-20"
														data-no-scale
														data-animate-in="preset:slideInUpShort;duration:800ms;delay:200ms;">
														Tiger Barbers
													</h1>
													<div class="clear"></div>
													<div class="tms-caption"
														data-animate-in="preset:slideInUpShort;duration:1000ms;delay:600ms;"
														data-no-scale>
														<a href="#contact"
															class="tms-caption button medium text-small text-uppercase bkg-theme color-charcoal border-hover-white color-hover-white scroll-link"
															data-offset="-60">Book App.</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<video poster="images/blank.png">
										<!--<source type="video/mp4" src="images/barber-shop/slider/barber.mp4" />
										<source type="video/webm" src="images/barber-shop/slider/barber.webm" />-->
									</video>
									<img data-src="images/barber-shop/slider/tigerbarbers_slide_1.png" data-retina
										src="images/blank.png" alt="" />
								</li>
								<li class="tms-slide" data-image data-as-bkg-image data-force-fit
									data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.2">
									<div class="tms-content">
										<div class="tms-content-inner left left-on-mobile v-align-middle">
											<div class="row">
												<div class="column width-12">
													<p class="tms-caption color-white title-medium weight-light mb-10"
														data-no-scale
														data-animate-in="preset:slideInUpShort;duration:800ms;delay:100ms;">
														Open Mon-Sat.
													</p>
													<div class="clear"></div>
													<h1 class="tms-caption color-white title-xlarge weight-bold mb-20"
														data-no-scale
														data-animate-in="preset:slideInUpShort;duration:800ms;delay:200ms;">
														Tiger Barbers
													</h1>
													<div class="clear"></div>
													<div class="tms-caption"
														data-animate-in="preset:slideInUpShort;duration:1000ms;delay:400ms;"
														data-no-scale>
														<a href="#contact"
															class="tms-caption button medium text-small text-uppercase bkg-theme color-charcoal border-hover-white color-hover-white scroll-link"
															data-offset="-60">Book App.
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<img data-src="images/barber-shop/slider/tigerbarbers_slide_2.png" data-retina
										src="images/blank.png" alt="" />
								</li>
							</ul>
						</div>
					</section>
					<!-- Fullscreen Slider Section End -->

					<!-- About -->
					<section id="about">

						<!-- Hero 5 -->
						<div
							class="section-block hero-5 hero-5-2 clear-height right show-media-column-on-mobile replicable-content">
							<div class="media-column width-4"></div>
							<div class="row">
								<div class="column width-8 left">
									<h3 class="mb-50" style="padding-top: 15px;">The Barbers</h3>
									<!-- Team Grid -->
									<div class="row">
										<div class="column width-12">
											<div class="row content-grid-2">
												<div class="grid-item horizon"
													data-animate-in="preset:slideInLeftShort;duration:800ms;delay:100ms;"
													data-threshold="0.3">
													<div class="thumbnail" data-hover-easing="easeInOut"
														data-hover-speed="500" data-hover-bkg-color="#ffffff"
														data-hover-bkg-opacity="0.9">
														<img src="images/barber-shop/generic/member_2.jpg" width="760"
															height="500" alt="" />
													</div>
													<div class="team-content-info">
														<h4 class="mb-20">Blue Kim</h4>
														<p>Blue has been barbering for over {{ year - 2014 }} years, having worked
															across a number of reputable Barber Shops, including most
															recently at King’s Domain in Melbourne. His specialities
															include short hair skin fades and scissor cuts. Blue has
															lived in Melbourne for the last {{ year - 2013 }} years,
															however originally
															came from South Korea, where he was a professional
															breakdancer. If you love Hip-Hop, be sure to get a haircut
															from Blue so you can ask him about it!</p>
														<ul class="social-list list-horizontal">
															<li><a href="https://www.instagram.com/bboybluethebarber/"><span
																		class="icon-instagram-with-circle medium"></span></a>
															</li>
														</ul>
													</div>
												</div>
												<div class="grid-item horizon"
													data-animate-in="preset:slideInLeftShort;duration:800ms;delay:200ms;"
													data-threshold="0.3">
													<div class="thumbnail" data-hover-easing="easeInOut"
														data-hover-speed="500" data-hover-bkg-color="#ffffff"
														data-hover-bkg-opacity="0.9">
														<img src="images/barber-shop/generic/member_1.jpg" width="760"
															height="500" alt="" />
													</div>

													<div class="team-content-info">
														<h4 class="mb-20">Terry Shin</h4>
														<p>Terry has been a hairdresser & barber for over 20 years. He
															has a wealth of knowledge when it comes to cutting hair,
															having experience working with the London Vidal Sassoon and
															Toni & Guy academies.
															</br>
															</br>
															Tiger Barbers is Terry’s latest project, with the goal of
															being a leader in men’s hairstyle.
														</p>
														<ul class="social-list list-horizontal">
															<li><a href="https://www.instagram.com/terry_tigerbarbers/"><span
																		class="icon-instagram-with-circle medium"></span></a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- Team Grid End -->
								</div>
							</div>
						</div>
						<!-- Hero 5 End -->

						<!-- Menu -->
						<div class="section-block pb-40 bkg-charcoal">
							<div class="row">
								<div class="column width-12 color-white">
									<h3 class="mb-40">Off The Wall</h3>
								</div>
							</div>
						</div>
						<div class="section-block replicable-content no-padding-top bkg-charcoal">
							<div class="row">
								<div class="column width-6">
									<h4 class="mb-40 no-padding color-white">Haircuts &amp Shaves</h4>
									<ul class="menu-list color-grey-light">
										<li class="menu-item dotted">
											<h4>
												<span class="menu-title">Style Haircut</span>
												<span class="menu-price">$45</span>
												<span class="menu-line"></span>
											</h4>
										</li>
										<li class="menu-item dotted">
											<h4>
												<span class="menu-title">Skin &amp Razor Fade</span>
												<span class="menu-price">$50</span>
												<span class="menu-line"></span>
											</h4>
										</li>
										<li class="menu-item dotted">
											<h4>
												<span class="menu-title">Student Haircut</span>
												<span class="menu-price">$40</span>
												<span class="menu-line"></span>
											</h4>
										</li>
										<li class="menu-item dotted">
											<h4>
												<span class="menu-title">Buzz Cut</span>
												<span class="menu-price">$20</span>
												<span class="menu-line"></span>
											</h4>
										</li>
										<li class="menu-item dotted">
											<h4>
												<span class="menu-title">Beard Trim</span>
												<span class="menu-price">(from) $20</span>
												<span class="menu-line"></span>
											</h4>
										</li>
										<li class="menu-item dotted">
											<h4>
												<span class="menu-title">Hot Towel Shave</span>
												<span class="menu-price">$50</span>
												<span class="menu-line"></span>
											</h4>
										</li>
									</ul>
								</div>
								<div class="column width-6">
									<h4 class="mb-40 no-padding color-white">Men's chemical service</h4>
									<ul class="menu-list color-grey-light">
										<li class="menu-item dotted">
											<h4>
												<span class="menu-title">Men's color</span>
												<span class="menu-price">(from) $120</span>
												<span class="menu-line"></span>
											</h4>
										</li>
										<li class="menu-item dotted">
											<h4>
												<span class="menu-title">Men's Bleach</span>
												<span class="menu-price">$100</span>
												<span class="menu-line"></span>
											</h4>
										</li>
										<li class="menu-item dotted">
											<h4>
												<span class="menu-title">Men's Perm</span>
												<span class="menu-price">(from) $120</span>
												<span class="menu-line"></span>
											</h4>
										</li>
										<li class="menu-item dotted">
											<h4>
												<span class="menu-title">Permanenet Straightening</span>
												<span class="menu-price">(from) $200</span>
												<span class="menu-line"></span>
											</h4>
										</li>
									</ul>
								</div>
								<div class="column width-12 left color-grey-light">
									<p><strong>20% OFF</strong> first service</p>
								</div>
							</div>
						</div>
						<!-- Menu End -->

					</section>
					<!-- About End -->

					<!-- Gallery -->
					<section id="shop" class="section-block">
						<div class="row">
							<div class="column width-4">
								<h3 class="mb-50">Gallery</h3>
								<div class="row">
									<div class="column width-10">
										<p>See our work.</p>
										<hr>
										<a target="_blank" href="https://www.instagram.com/tigerbarbers/">
											<p>Follow Us on Instagram @Tigerbarbers</p>
										</a>
									</div>
								</div>
							</div>
							<div class="column width-8">
								<div class="grid-container products fade-in-progressively" data-layout-mode="masonry"
									data-grid-ratio="1.5" data-animate-resize data-animate-resize-duration="0">
									<div class="row">
										<div class="column width-12">
											<span id="instafeed" class="gallery"></span>

											<!--
											<div class="row grid content-grid-3">
												<div class="grid-item product portrait grid-sizer design">
													<div class="thumbnail product-thumbnail img-scale-in"
														data-hover-easing="easeInOut" data-hover-speed="700"
														data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
														<a class="overlay-link" href="single-product.html">
															<img src="images/barber-shop/shop/product-2-portrait.jpg"
																alt="" />
														</a>
													</div>
												</div>
											</div>
												-->
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					<!-- Gallery End -->

					<section id="news">

						<!-- News
						<div class="section-block pb-30 bkg-charcoal">
							<div class="row">
								<div class="column width-12 color-white">
									<h3>News</h3>
								</div>
							</div>
						</div>
						<div class="section-block content-inner blog-masonry grid-container fade-in-progressively no-padding-top pb-60 bkg-charcoal"
							data-layout-mode="masonry" data-grid-ratio="1.5" data-animate-resize
							data-animate-resize-duration="0">
							<div class="row">
								<div class="column width-12">
									<div class="row grid content-grid-3 clearfix">
										<div class="grid-item grid-sizer">
											<article class="post">
												<div class="post-content">
													<h2 class="post-title"><a
															href="blog-single-post-sidebar-right.html">New
															Products At Sartre</a></h2>
													<div class="post-info">
														<span class="post-date">05 Feb 2016</span>
													</div>
													<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
														accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
														quae ab illo inventore veritatis et quasi architecto.</p>
													<a href="blog-single-post.html"
														class="read-more icon-plus color-white">Read Full Post</a>
												</div>
											</article>
										</div>
										<div class="grid-item">
											<article class="post">
												<div class="post-content">
													<h2 class="post-title"><a
															href="blog-single-post-sidebar-right.html">Feautred In Wired
															Magazine</a></h2>
													<div class="post-info">
														<span class="post-date">20 Jan 2016</span>
													</div>
													<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
														consectetur, adipisci velit, sed quia non numquam eius modi
														tempora
														incidunt ut labore et dolore magnam aliquam.</p>
													<a href="blog-single-post.html"
														class="read-more icon-plus color-white">Read Full Post</a>
												</div>
											</article>
										</div>
										<div class="grid-item">
											<article class="post">
												<div class="post-content">
													<h2 class="post-title"><a
															href="blog-single-post-sidebar-right.html">Voted Best Barber
															By
															NY</a></h2>
													<div class="post-info">
														<span class="post-date">03 Jan 2016</span>
													</div>
													<p>Nam libero tempore, cum soluta nobis est eligendi optio cumque
														nihil
														impedit quo minus id quod maxime placeat facere possimus, omnis
														voluptas nihil impedit quo minus id quod maxime.</p>
													<a href="blog-single-post.html"
														class="read-more icon-plus color-white">Read Full Post</a>
												</div>
											</article>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="section-block no-padding-top bkg-charcoal">
							<div class="row">
								<div class="column width-12">
									<hr class="border-grey opacity-05">
									<a href=""
										class="button bkg-theme color-charcoal border-hover-white color-hover-white text-uppercase">See
										All Posts</a>
								</div>
							</div>
						</div>
					News End -->
					</section>

					<!-- Contact -->
					<section id="contact">

						<!-- Hero 5 -->
						<div
							class="section-block hero-5 hero-5-3 clear-height show-media-column-on-mobile bkg-charcoal">
							<div class="media-column width-4"></div>
							<div class="row">
								<div class="column width-7 offset-5">
									<div class="hero-content split-hero-content">
										<div class="hero-content-inner left">
											<h3 class="mb-30 color-white">Book Today</h3>
											<p style="margin-bottom: 0rem;">This form is for today appointments only.
											</p>
											<p style="margin-bottom: 0.5rem;">Make a call to the shop for any future
												appointments : <a style="color: silver" href="tel:+61396502210">(03)
													9650 2210</a></p>
											<!-- Form -->
											<div class="contact-form-container">
												<form action="https://formspree.io/tigerbarbers@gmail.com"
													method="post">
													<div class="row">
														<div class="column width-6">
															<div class="field-wrapper">
																<input type="text" name="name"
																	class="form-name form-element" placeholder="Name*"
																	tabindex="1" required>
															</div>
														</div>
														<div class="column width-6">
															<div class="field-wrapper">
																<input type="text" name="date" id="date"
																	class="form-date form-element" tabindex="2"
																	disabled>
															</div>
														</div>
														<div class="column width-6">
															<div class="field-wrapper">
																<input type="text" name="phone"
																	class="form-phone form-element" placeholder="Phone*"
																	tabindex="3" required>
															</div>
														</div>
														<div class="column width-6">
															<div class="field-wrapper">
																<input type="email" name="_replyto"
																	class="form-email form-element"
																	placeholder="Email address" tabindex="4">
															</div>
														</div>
														<div class="column width-6">
															<div class="field-wrapper">
																<div class="form-select form-element">
																	<select name="barber" tabindex="5" class="form-aux"
																		data-label="Barber*">
																		<option selected="selected" value="">Barber*
																		</option>
																		<option value="any">Any</option>
																		<option value="blue">Blue</option>
																		<option value="terry">Terry</option>
																	</select>
																</div>
															</div>
														</div>
														<div v-if="day === 'Sat'">
															<div class="column width-6">
																<div class="field-wrapper">
																	<div class="form-select form-element">
																		<select name="time" tabindex="6"
																			class="form-aux" data-label="Time*">
																			<option selected="selected" value="">Time*
																			</option>
																			<option value="9:00">9.00 am</option>
																			<option value="9:30">9.30 am</option>
																			<option value="10:00">10.00 am</option>
																			<option value="10:30">10.30 am</option>
																			<option value="11:00">11.00 am</option>
																			<option value="11:30">11.30 am</option>
																			<option value="12:00">12.00 am</option>
																			<option value="12:30">12.30 pm</option>
																			<option value="13:00">1.00 pm</option>
																			<option value="13:30">1.30 pm</option>
																			<option value="14:00">2.00 pm</option>
																			<option value="14:30">2.30 pm</option>
																			<option value="15:00">3.00 pm</option>
																			<option value="15:30">3.30 pm</option>
																			<option value="16:00">4.00 pm</option>
																			<option value="16:30">4.30 pm</option>
																		</select>
																	</div>
																</div>
															</div>
														</div>
														<div v-else>
															<div class="column width-6">
																<div class="field-wrapper">
																	<div class="form-select form-element">
																		<select name="time" tabindex="6"
																			class="form-aux" data-label="Time*">
																			<option selected="selected" value="">Time*
																			</option>
																			<option value="10:00">10.00 am</option>
																			<option value="10:30">10.30 am</option>
																			<option value="11:00">11.00 am</option>
																			<option value="11:30">11.30 am</option>
																			<option value="12:00">12.00 am</option>
																			<option value="12:30">12.30 pm</option>
																			<option value="13:00">1.00 pm</option>
																			<option value="13:30">1.30 pm</option>
																			<option value="14:00">2.00 pm</option>
																			<option value="14:30">2.30 pm</option>
																			<option value="15:00">3.00 pm</option>
																			<option value="15:30">3.30 pm</option>
																			<option value="16:00">4.00 pm</option>
																			<option value="16:30">4.30 pm</option>
																			<option value="17:00">5.00 pm</option>
																			<option value="17:30">5.30 pm</option>
																		</select>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="column width-12">
															<div class="field-wrapper" v-if="day !== 'Sun'">
																<textarea name="message"
																	class="form-message form-element"
																	placeholder="Enter which service you want to book*"
																	tabindex="7" required></textarea>
																<p>We will send a confirmation SMS as soon as your spot
																	is secured :)</p>

																<input type="submit" value="Send" tabindex="8"
																	target="_blank"
																	class="form-submit button bkg-theme color-charcoal border-hover-white color-hover-white text-uppercase">
															</div>
															<div class="field-wrapper" v-else>
																<textarea name="message"
																	class="form-message form-element"
																	placeholder="Sorry, We close on Sundays!*"
																	tabindex="7" required></textarea>
															</div>
														</div>
													</div>
												</form>
												<div class="form-response"></div>
											</div>
											<!-- Form End -->
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Hero 5 End -->

					</section>
					<!-- Contact End -->

				</div>
				<!-- Content End -->

				<!-- Footer -->
				<footer class="footer">
					<div class="footer-top two-columns-on-tablet">
						<div class="row flex">
							<div class="column width-4">
								<div class="widget">
									<h4 class="widget-title">Tiger Barbers.</h4>
									<p class="copyright">
										&copy; {{ year }} Tiger Barbers. All Rights Reserved.
										</br>
										Website by <a target="_blank" href="http://www.kyongsubkong.info/"
											style="color: grey;">Kyong</a>
									</p>
								</div>
							</div>
							<div class="column width-3">
								<div class="widget">
									<h4 class="widget-title">Open Hours</h4>
									<ul class="list-group large">
										<li>
											<span class="post-info"><span class="post-date">Weekdays</span></span>
											<a href="" v-on:click.prevent>10:00am - 7:00pm</a>
										</li>
										<li>
											<span class="post-info"><span class="post-date">Saturday</span></span>
											<a href="" v-on:click.prevent>9:00am - 5:00pm</a>
										</li>
										<li>
											<span class="post-info"><span class="post-date">Sunday / Public
													Holiday</span></span>
											<a href="" v-on:click.prevent>Closed</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="column width-3">
								<div class="widget">
									<h4 class="widget-title">Useful Links</h4>
									<ul>
										<li>
											<a href="https://g.page/tigerbarbers?share" target="_blank">Find Us On
												Google</a>
										</li>
										<li>
											<a href="#about">Our Barbers</a>
										</li>
										<li>
											<a href="#contact">Get In Touch</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="column width-2">
								<ul class="social-list list-horizontal pull-right clear-float-on-mobile">
									<li><a target="_blank" href="https://www.facebook.com/tigerbarbers/"><span
												class="icon-facebook-with-circle medium"></span></a></li>
									<li><a target="_blank" href="https://www.instagram.com/tigerbarbers/"><span
												class="icon-instagram-with-circle medium"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
				</footer>
				<!-- Footer End -->

			</div>
		</div>

		<!-- Js -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="js/timber.master.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script type="text/javascript" src="js/instafeed.min.js"></script>
		<script type="text/javascript" src="js/instafeed.js"></script>
		<script type="text/javascript" src="js/instafeed-custom.js"></script>
		<script>
			let app = new Vue({
				el: '#app',
				data: {
					clicked: false,
					year: null,
					day: null,
					date: null
				},
				methods: {
					callFunction: function () {
						var currentDate = new Date().toDateString("en-US", { timeZone: "Australia/Melbourne" });
						console.log(currentDate)
						this.year = currentDate.slice(11, 15);
						this.day = currentDate.slice(0, 3);
						this.date = currentDate.slice(8, 10) + " " + currentDate.slice(4, 7) + " " + currentDate.slice(11, 15) + " (" + currentDate.slice(0, 3) + ")";
						document.getElementById("date").value = this.date;
					}
				},
				mounted() {
					this.callFunction()
				}
			})

		</script>
	</div>
</body>

</html>